<div class="padding" ng-controller="StartController">

  <super-navbar>
    <super-navbar-title>
      Hellow - View A
    </super-navbar-title>
  </super-navbar>


  <div id="viewA">
    <h2>I'm view A</h2>

    <button ng-click="pushView()" class="button button-block button-positive icon-left super-wand">In Place Transitions</button>

    <super-navigate location="http://localhost/app/example/getting-started.html#newStuff">
      <button class="button button-block button-positive icon-left super-university">Push Another Copy of Me ;-)</button>
    </super-navigate>

    <super-navigate view-id="learn-more">
      <button class="button button-block button-positive icon-left super-university">Learn more</button>
    </super-navigate>
  </div>

  <div id="viewB" class="hidden">
    <h2>I'm view B</h2>

    <button ng-click="popView()" class="button button-block button-positive icon-left super-wand">Go Back</button>

    <super-navigate location="http://localhost/app/example/getting-started.html#newStuff">
      <button class="button button-block button-positive icon-left super-university">Push Another Copy of Me ;-)</button>
    </super-navigate>
  </div>
</div>
